.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}
.advantages-list__item:not(:last-child) {
  margin-bottom: 30px;
}
.advantages-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third-background-color);
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}
.advantages-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
.advantages-list__text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.714;
}

@media screen and (min-width: 768px){
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.advantages-list__item:not(:last-child) {
  margin-bottom: 0;
}
.advantages-list__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 60px) / 2);
}
.advantages-list__title {
  text-align: left;
}
}

@media screen and (min-width: 1200px){
  .advantages {
  padding-top: 94px;
  padding-bottom: 0;
}
.advantages-list__item {
  flex-basis: calc((100% - 120px) / 4);
}
}