.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.contacts__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  color: #ffffff;
}
.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.footer__text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  .contacts__address {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
  .footer__contacts {
    display: block;
  }
  .contacts__address,
  .footer__social {
    margin-bottom: 0;
  }
  .footer__contacts {
    margin-right: 70px;
    margin-bottom: 0;
  }
  .footer__text {
    text-align: left;
  }
  .footer__social {
    display: block;
  }
  .footer__subscribe {
    display: block;
    width: 570px;
    margin-left: auto;
  }
}
