.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}
.filter__item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}
.filter__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: inherit;
  color: inherit;
  background: var(--third-background-color);
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.filter__button--main {
  background-color: var(--accent-color);
  color: #ffffff;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.portfolio__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
  display: flex;
}
.portfolio__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio__img-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 294px;
  width: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0%);
  }
}
.portfolio__card-meta {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio__card-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.portfolio__card-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}
