.button {
  color: #ffffff;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-width: 0;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: #188ce8;
  }
}
.button--with-icon {
  display: flex;
  align-items: center;
  padding: 10px 28px;
}
.button__icon--end {
  margin-left: 10px;
}
