// 0 - 479px
@media (min-width: 320px) {
  .mobile-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  }
  .mobile-menu__btn {
    background: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #ffffff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .mobile-menu__nav-link {
    color: inherit;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }
  .mobile-menu__nav-link--current {
    color: var(--accent-color);
  }
  .mobile-menu__nav-item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  .mobile-menu__contacts {
    margin-bottom: 64px;
  }
  .mobile-menu__contacts-item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  .mobile-menu__contacts-item {
    &:first-child {
      font-weight: 500;
      font-size: 28px;
      line-height: 1.176;
      letter-spacing: 0.02em;
    }
  }
  .mobile-menu__contacts-item {
    &:last-child {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.167;
      letter-spacing: 0.02em;
    }
  }
  .mobile-menu__contacts-link {
    color: var(--accent-color);
  }
  .mobile-menu__contacts-link--grey {
    color: var(--secondary-text-color);
  }
  .mobile-menu__social {
    display: flex;
    flex-wrap: wrap;
  }
  .mobile-menu__social-item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  .mobile-menu__social-item {
    &::after {
      content: "";
      width: 22px;
      height: 1px;
      transform: rotate(90deg);
      border: 1px solid rgba(33, 33, 33, 0.2);
      margin-left: 10px;
    }
  }
  .mobile-menu__social-item:last-child::after {
    display: none;
  }
  .mobile-menu__social-link {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.222;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

// 480 - 767px
//  MOBILE MENU
@media (min-width: 480px) and (max-width: 767px) {
  .mobile-menu__nav-link {
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }

  .mobile-menu__contacts-item {
    &:first-child {
      font-size: 34px;
    }
  }
  .mobile-menu__contacts-item {
    &:last-child {
      font-size: 24px;
    }
  }
  .mobile-menu__social-item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  .mobile-menu__social-link {
    font-size: 18px;
  }
}

// 768 + px

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu__btn {
    display: none;
  }
}
