.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}
.modal-form__label {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
  margin-top: 10px;
}
.modal-form__label--first {
  &.first {
    margin-top: 0;
  }
}
.modal-form__input-field {
  position: relative;
}
.modal-form__input,
.modal-form__textarea {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-form__input {
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}
.modal-form__textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
  }
}
.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}
.modal-form__policy-agreement {
  display: inline-block;
  font-size: 14px;
  line-height: 1.714;
  color: var(--secondary-text-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
