.section-title {
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .section-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.178;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
}
