.social-list {
  display: flex;
  justify-content: space-between;
}
.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  color: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.social-list__link--in-footer {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: #ffffff;
  }
}
