:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --black-logo-color: #000000;
  --trird-text-color: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
}